/*iPhone*/
h1, h2, p {
    font-family: heisei-maru-gothic-std, sans-serif;
    color: #62534D;
}
p{
    font-size: 14px;
    letter-spacing: 0.1em;
}
body{
    margin: 0;
}

/*------共通設定--------*/
.main_width{
    width: 1440px;
}
/*------ヘッダー--------*/
header{
    position: relative;
    background-color: antiquewhite;
    display: flex;
    width: 100%;
    height: 76px;  
}
header .logo{
    margin: auto 0;
}
.head_items{
    display: flex;
    position: absolute;
    right: 16px;
    position: fixed;
    z-index: 9999;
}
.head_items ul{  
    display: flex;
}
.head_items ul li{
    list-style: none;
    margin: 10px 22px;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.head_items ul li a{
    text-decoration: none;
    color: #62534D;
}
.head_items .sns{
    margin: auto 8px;
}
.onlne_shop{
    display: flex;
    border: 1px solid #62534D;
    padding: 12px 24px 12px 22px;
    margin-left: 30px;
    margin: auto;
    margin-left: 22px;
}
.onlne_shop p{
    margin: 0 8px 0 0;
}

/*------ホーム--------*/
.home{
    background-color: aliceblue;
    width: 100%;
    height: 694px;
    position: relative;
    margin: 0;
}
.home img{
    position: absolute;
    left: 190px;
    top: 88px;
}
/*------新商品--------*/
.new{
    width: 100%;
    height: 1830px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new_items{
    margin: 50px auto 10px auto;
}
.new_items p{
    font-size: 12px;
    letter-spacing: 0.4em;
    color: #C77C92;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9px;
}
.new_items img{
    margin-bottom: 20px;
}
.new figure{
    margin-bottom: 50px;   
}
/*------ポイント--------*/
.point{
    width: 100%;
    height: 1332px;
    background-color: #EFE3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.point_contents{
    margin: 64px auto;
}
.point_design{
    margin: 12px auto;
}
.point_design img{
    width: 520px;
    height: auto;
}

.two_new .gross_brown{
    width: 100%;
    height: 1806px;
    background-color: #EBD8D1;
    margin: 0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two_new .tear_olive{
    width: 100%;
    height: 1832px;
    background-color: #EFF0E2;
    margin: 0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two_new .name img{
    width: 470px;
    height: auto;
    margin-top: 60px;
}

.two_new .top img{
    width: 740px;
    height: auto;
    margin-top: 20px;
}
.two_new .spec img, .mote_point img{
    width: 410px;
    height: auto;
    margin-top: -30px;
}

.two_new p{
    font-size: 12px;
    border: 1px solid #62534D;
    padding: 20px 170px;
    margin-top: 6px;
}