* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
    *::before,
    *::after { 
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }  

   
    



/*pc*/
h1, h2, h3, p, dl ,li{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #62534D;
}
h3{
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: normal;
}
p, li, dl{
    font-size: 14px;
    letter-spacing: 0.1em;
}
body{
    margin: 0;
    padding: 0;
}

/*------共通設定--------*/

#wrapper {
    max-width: 100%;
    margin: 0 auto; /* ページを中央に揃える */
    
}





/*------ヘッダー--------*/
header{
    position: relative;
    background-color:#F8EFEE;
    display: flex;
    width: 100%;
    height: 76px;
    align-items: center;  
}


header .logo{
    margin: auto 0;
}


.head_items{
    display: flex;
    position: fixed;
    right: 16px;
    z-index: 9999;
    top: 0;
}
#hamburger_menu_sp{
    display: none;
}

.head_items ul{  
    display: flex;
}
.head_items ul li{
    list-style: none;
    margin: 10px 16px;
    font-size: 14px;
    letter-spacing: 0.1em;
}


.head_items ul a{
    text-decoration: none;
    color: #62534D;
}
.head_items .sns{
    margin: 24px 8px;
    
}


.onlne_official{
    display: flex;
    border: 1px solid #62534D;
    padding: 12px 24px 12px 22px;
    margin-left: 22px;
    margin-top: 16px;
}
.onlne_official p{
    margin: 0 8px 0 0;
}

.online_sub{
    display: none;
    margin-top: -10px;
}

.online_shop:hover {
    border: 1px solid #62534D;
    text-align: center;
    margin-left: 22px;
    margin-top: 16px;
}
.online_shop:hover .onlne_official{
    border: none;
    margin: 0;
}
.online_shop:hover .online_sub{
    display: block;
    
}


/*------ホーム--------*/
.home{
    background-image: url(../img/top_pc.jpg);
    height: 700px;
    background-size: 114%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    margin: 0;
    background-size: cover; /* 画面全体にフィット */
    
}
.home img{
    position: absolute;
    left: 100px;
    top: 88px;
}
/*------新商品--------*/
.new{
    width: 100%;
    height: 1830px;
    background-image: url(../img/new_bk.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new_items{
    margin: 80px auto 0px auto;
}
.new_items p{
    font-size: 12px;
    letter-spacing: 0.4em;
    color: #C77C92;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
}
.new_items img{
    margin-bottom: 10px;
}
.new figure{
    margin-bottom: 50px;   
}
/*------ポイント--------*/
.point{
    width: 100%;
    height: 1332px;
    background-color: #EFE3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.point_contents{
    margin: 64px auto;
}
.point_design{
    margin: 12px auto;
}
.point_design img{
    width: 520px;
    height: auto;
}

/*------2つの新商品詳細--------*/
.two_new .gross_brown{
    width: 100%;
    height: 1806px;
    background-image: url(../img/bk_gloss.jpg);
    margin: 0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two_new .tear_olive{
    width: 100%;
    height: 1832px;
    background-image: url(../img/bk_tear.jpg);
    margin: 0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two_new .name img{
    width: 470px;
    height: auto;
    margin-top: 60px;
}

.two_new .top img{
    width: 740px;
    height: auto;
    margin-top: 20px;
}
.two_new .spec img, .mote_point img{
    width: 410px;
    height: auto;
    margin-top: -30px;
}
.two_new .more{
    font-size: 12px;
    border: 1px solid #62534D;
    padding: 20px 170px;
    margin-top: 6px;
}
.two_new a{
    text-decoration: none;
}


/*------カラバリ--------*/

.color_variation{
    width: 100%;
    height: 1600px;
    background-image: url(../img/lu_bk_pc.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.color_variation .title img{
    width: 440px;
    height: auto;
    margin-top: 70px;
}
.color_variation .spec img{
    width: 500px;
    height: auto;
    margin-top: 60px;
}

.color_variation .items .new_item {
    display: grid;
    grid-template-columns: repeat(2, 300px); 
    text-align: center;
    justify-content: center;  
    gap: 10px;
    margin-top: 40px;
}

.color_variation .items .nomal_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    column-gap: 10px;
}

.color_variation .items .new_item img{
    width: 316px;
    height: auto;
}
.color_variation .items .nomal_item img{
    width: 260px;
    height: auto;
    margin-top: 10px;
}
.new_item .more{
    font-size: 12px;
    border: 1px solid #62534D;
    padding: 22px 0;
    margin: 0 16px 0 36px;
}
.nomal_item .more{
    font-size: 12px;
    border: 1px solid #62534D;
    padding: 16px 0;
    margin: 0 26px;
}
.color_variation a{
    text-decoration: none;
}


/*------ここからモテカラー--------*/

.mote_color{
    width: 100%;
    height: 1790px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.mote_color .title{
    margin-top: 114px;
    margin-bottom: 38px;
}
.mote_color .lens_spec{
    margin-top: 120px;
}
.mote_color .title img{
    width: 416px;
    height: auto;
    margin-top: 114px auto;
}
.mote_color .color_chart img{
    width: 620px;
    height: auto;
}
.mote_color .lens_spec img{
    width: 526px;
    height: auto;
}

/*------ここからゆうこすー--------*/

.about_yukos {
    height: 1058px;
    background-image: url(../img/pl_bk.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.yukos_img{
    margin-top: 40px;
}
.yukos_text{
    margin-top: 30px;
    margin-bottom: 20px;
}
.yukos_img img{
    width: 412px;
    height: auto;
}
.yukos_text img{
    width: 324px;
    height: auto;
}
.about_yukos .sns img{
    width: 32px;
    height: auto;
    margin: 8px;
    
}

/*------ここからインフォメーションー--------*/

.information {
    width: 100%;
    height: 256px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.information .title h3{
    margin-top: 70px;
    margin-right: 840px;
    position: relative;
}
.information .title h3::after{
    position: absolute;
    content: "";
    top: 50%;
    width: 810px;
    height: 1px;
    background-color: #62534D;
    margin-left: 20px;
}

.information_news dl{
    display: flex;
}

/*------footerー--------*/
footer{
    width: 100%;
    height: 140px;
    background-color: #F3DEDF;
    padding-top: 4px;
}
footer .attention{
    margin: 0 20px;
}
footer ul{
    display: flex;
    justify-content: end;
    
}
footer ul li{
    list-style: none;
    margin: 0 20px 0 10px;
    position: relative;
}
footer ul a{
    text-decoration: none;
    position: relative;
}
footer ul a::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 18px;
    background-color: #62534D;
    margin-top: -20px;
    left: -6px; 
    top: 100%; 
}
footer ul a:first-child::after{
    display: none;
}
footer .copylight p{
    display: flex;
    justify-content: end;
    margin-right: 4px;
}

/*------白っぽくなるアニメーションー--------*/

.all_items, .blue_light_save, .monthly, #yukos, .instagram, .twitter, .more_contact, .rakuten, .hoteraba, .youtube, .information_news1, .information_news2, .beware, .contact, .privacy_policy{
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.all_items:hover, .blue_light_save:hover, .monthly:hover, #yukos:hover,
.instagram:hover, .twitter:hover, .more_contact:hover, .rakuten:hover, .hoteraba:hover, .youtube:hover, .information_news1:hover, .information_news2:hover, .beware:hover, .contact:hover, .privacy_policy:hover{
    transition: 0.3s; 
    opacity: 0.6; 
    transition: 0.6s ease; 
}

.new_item1_img, .new_item2_img, .item01_img, .item02_img, .item03_img, .item04_img, .item05_img, .item06_img, .item07_img, .item08_img, .item09_img, .item10_img, .item11_img{
    transition: 0.3s;
}

.new_item1_img:hover, .new_item2_img:hover,
 .item01_img:hover, .item02_img:hover, .item03_img:hover, .item04_img:hover, .item05_img:hover, .item06_img:hover, .item07_img:hover, .item08_img:hover, .item09_img:hover, .item10_img:hover, .item11_img:hover{
    transition: 0.3s; 
    opacity: 0.8; 
    transition: 0.4s ease; 
}
/*------moreアニメーション--------*/

.more:hover{
    border:none;
    border: 1px solid #fff;
    background-color: #fff;
    transform: scale(1.1);
    transition: 0.6s;
    opacity: 1;
}



/*iPhone*/

@media only screen and (max-width: 768px){
    h3{
        font-size: 14px;
    }

    p, li, dl{
        font-size: 8px;
    }
    html, body {
        overflow-x: hidden; /* 横スクロールを防止 */
        
    }
    

    
    #wrapper {
        max-width: 100%;
        margin: 0 auto; /* ページを中央に揃える */
        
    }
    

    /*------ヘッダー--------*/
    header{
        position: relative;
        background-color:#F8EFEE;
        display: flex;
        width: 100%;
        height: 64px;  
    }
    header .logo{
        margin: auto 0;
    }

    
    /*-----ハンバーガーメニューの中身--------*/
    

    .hamburger_btn {
        position: fixed;
        right: 4%; 
        width: 5%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 2%; 
        z-index: 9999;   
    }
    .hamburger_btn div {
        height: 1px; 
        background-color: #62534D;
    }
    .hamburger_btn_top,
    .hamburger_btn_bottom {
        width: 100%; 
    }
    .hamburger_btn_mid {
        width: 70%; 
        align-self: flex-start; 
    }
    
    #hamburger_menu_sp, #hamburger_menu_sp.close {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        height: 80%;
        top: 0;
        z-index: 99999999;
        transition: transform 0.6s ease-in-out, opacity 0.3s ease-in-out;
        transform: translateY(-100%); 
        opacity: 0;
    }
    
    #hamburger_menu_sp.open {
        opacity: 1; 
        transform: translateY(0);   
    }
    
    #hamburger_btn_close{
        display: block;
        position: relative;
        width: 100%;
        height: 28%;
    }
    #hamburger_btn_close::before, #hamburger_btn_close::after {
        content: "";
        position: absolute;
        top: 18%;
        right: 6%;
        width: 1px; 
        height: 28%; 
        background:  #62534D;
      }
       
      #hamburger_btn_close::before {
        transform: translate(-50%,-50%) rotate(45deg);
      }
       
      #hamburger_btn_close::after {
        transform: translate(-50%,-50%) rotate(-45deg);
      }

    .head_items{
        display: none;
        z-index: 99999999999999999999;
        right: 0;
    }
    #head_items.open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #head_list.open{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 10% auto;
    }

    .head_items .sns{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .head_items .sns.open{
        margin: 0 auto;
        width: auto;
    }
    .head_items .sns.open a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -16%;
    }
    .head_items .sns.open img{
        width: 26%;
    }

    .onlne_shop{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .onlne_official{
        width: auto; 
        padding: 1em 6em; 
        margin: 20px auto; 
        position: relative;
    }
    .onlne_official::after{
        position: absolute;
        content: "";
        top: 50%;
        right: 10%; 
        transform: translateY(-50%);      
        width: 6px;
        height: 6px;
        border: 0px;
        border-bottom: solid 1px #62534D;
        border-right: solid 1px #62534D;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); 
    }
    .onlne_official p{
        font-size: 12px;
    }

    .online_sub{
        display: none;
        
    }
    @media (hover:none){
        .online_shop:active{
            margin: 0;
            display: block;
        }
        
    
        .online_shop:active {
            border: 1px solid #62534D;
            text-align: center;
            margin: 20px auto; 
        }
        .online_shop:active .onlne_official{
            border: none;
            margin: 0;
        }
        
        .online_shop:active .onlne_official::after{
            position: absolute;
            content: "";
            top: 50%;
            right: 10%; 
            transform: translateY(-50%);      
            width: 6px;
            height: 6px;
            border: 0px;
            border-top: solid 1px #62534D;
            border-left: solid 1px #62534D;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg); 
        }
        
        .online_shop:active .online_sub p{
            display: block;
            font-size: 12px;
            margin: 4% auto;
            position: relative;
        } 
        .online_shop:active .online_sub p::before{
            border-top: 1px solid #999;
            position: absolute;
            content: "";
            width: 80%;
            top: -46%;
            left: 50%;
            transform: translateX(-50%);
        }

    }
    






    /*------ホーム--------*/
    .home{
        background-image: url(../img/top_sp.jpg);
        background-repeat: no-repeat;
        background-size: cover; /* 画面幅にフィットさせる */
        width: 100%;
        margin: auto;
        position: relative;
        transition: 1s;
        padding-top: 175%;
        }
   
   
    .home img{
        display: none;
    }
    /*------新商品--------*/
    .new{
        width: 100%;
        height: 40%;
        background-image: url(../img/new_bk.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding-bottom: 34%;
    }
    .new_items{
        margin: 0px auto 0px auto;
    }
    .new_items p{
        font-size: 12px;
        letter-spacing: 0.4em;
        color: #C77C92;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6px;
    }
    
    
    .new figure {
       
        width: 100%; 
    }
    
    .new figure img {
        position: relative; /* 自由な配置を可能に */
        margin-bottom: 0;
        width: 140%; 
        height: auto; 
        left: -20%; 
    }
    .new video{
        width: 90%;
        height: auto;
    }

    /*------ポイント--------*/

    
    .point {
        width: 100%;
        height: auto;
        background-color: #EFE3E3;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    .point::before {
        background-image: url(../img/de_top.png);
        background-size: contain; 
        background-repeat: no-repeat; 
        position: absolute; 
        content: ""; 
        width: 100%; 
        height: auto; 
        padding-top: 100%; 
        top: -10%;
    }
    

    .point_contents{
        margin: 10% auto;  
    }
    

    .point_design{
        margin: 40px auto;
    }
    .point_design img{
        width: 90%;
        height: auto;
        align-items: center;
    }
    .point_design {
        margin: 10px auto;
        display: flex; /* フレックスボックスを使用 */
        justify-content: center; /* 横方向で中央揃え */
        align-items: center; /* 縦方向で中央揃え */
    }
    
    .point_design img {
        width: 90%;
        height: auto;
        margin: 0; /* 余計なマージンを削除 */
        display: block; /* インライン要素の特性をリセット */
    }

    
    
    
    
   
    

    /*------2つの新商品詳細--------*/
    .two_new .gross_brown{
        width: 100%;
        height: 40%;
        background-image: url(../img/bk_gloss.jpg);
        margin: 0;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .two_new .tear_olive{
        width: 100%;
        height: 40%;
        background-image: url(../img/bk_tear.jpg);
        margin: 0;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .two_new .name img{
        width: 100%;
        height: auto;
        margin-top: 60px;
        display: block;
        margin: 10% auto 0 auto;

    }
    .two_new .top{
        width: 100%;
        height: auto;
        right: 10%;
    }

    .two_new .top img{
        position: relative; 
        margin-bottom: 0;
        width: 140%; 
        height: auto; 
        left: -20%;  
    }
    .two_new .spec, .mote_point{
        width: 100%;
        height: auto;
    }

    .two_new .spec img, .mote_point img{
        width: 90%;
        height: auto;
        margin-top: -30px;
        display: block;
        margin: 0 auto;
    }
    
    .two_new .more{
        font-size: 9px;
        border: 1px solid #62534D;
        display: block;
        margin: 0 auto 10% auto;
        padding: 2em 16em;
        position: relative;
    }
    .two_new .more::after{
        content: ' ';
        position: absolute;
        top: 42%;
        left: 90%;
        display: block;
        width: 6px;
        height: 6px;
        border: 0px;
        border-top: solid 1px #62534D;
        border-right: solid 1px #62534D;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .two_new a{
        text-decoration: none;
        text-align: center;
    }


    /*------カラバリ--------*/

    .color_variation{
        max-width: 100%;
        height: 40%;
        background-image: url(../img/lu_bk_sp.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 20%;
        display: block;
    }

    
        
    .color_variation .title img{
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    
    .color_variation .items{
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .color_variation .items .new_item,
    .color_variation .items .nomal_item {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        text-align: center;
        justify-content: center;  
        gap: 10px;
        margin-top: 40px;
        
    }
    .color_variation .items .new_item{
        margin-bottom: -6%;
    }
    

    .color_variation .items .new_item img,
    .color_variation .items .nomal_item img{
        width: 100%;
        height: auto;
    }
    
    .new_item .more,
    .nomal_item .more{
        font-size: 9px;
        border: 1px solid #62534D;
        display: block;
        margin: 0 auto 2% auto;
        padding: 1em 4em;
    }
    
    .color_variation a{
        text-decoration: none;
    }

    .color_variation .spec img{
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 6%;
    }


    /*------ここからモテカラー--------*/

    .mote_color{
        width: 100%;
        height: auto;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .mote_color .title{
        margin-top: 10%;
        margin-bottom: 10%;
        
    }
    .mote_color .lens_spec{
        margin-top: 40px;
    }
    .mote_color .title img{
        width: 90%;
        height: auto;
        margin: 10% auto;
        display: block;
        margin: 0 auto;
    }
    .mote_color .color_chart img{
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .mote_color .lens_spec img{
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 10%;
    }

    /*------ここからゆうこすー--------*/

    .about_yukos {
        height: auto;
        background-image: url(../img/pl_bk.jpg);
        background-size: cover;
        background-repeat: no-repeat;
       

    }
    .yukos_img{
        margin-top: 10%;
    }
    .yukos_text{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .yukos_img img{
        width: 98%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .yukos_text img{
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .about_yukos .sns{
        width: 50%;
        text-align: center;
    }
    .about_yukos .sns img{
        width: 10%;
        height: auto;
        margin: 0 8% 10% 8%;  
    }

    
    

    /*------ここからインフォメーションー--------*/

    .information {
        width: 100%;
        height: auto;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;   
    }

    .information_information{
        width: 90%;
    }
    .information .title h3{
        margin-top: 2%;
        margin-right: 0;
        position: relative;
        font-size: 10px;
    }
    .information .title h3::after{
        position: absolute;
        content: "";
        top: 50%;
        width: 74%;
        height: 1px;
        background-color: #62534D;
        margin-left: 2%;
    }
    
    .information_news dl{
        display: block;
    }
    .information_news dl dd{
        margin: 0;
    }

    /*------footerー--------*/
    footer{
        width: 100%;
        height: auto;
        background-color: #F3DEDF;
        padding: 2%;
    }
    footer .attention{
        margin: 0 20px;
    }

    footer ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        text-align: center;
        justify-content: center;
        gap: 0;
        padding: 0;  
    }
    

    footer ul li{
        list-style: none;
        margin: 0;
        position: relative;
    }
    
  
    footer ul a::after{
        display: none; 
    }
    
    footer ul .beware, footer ul .contact, footer ul .privacy_policy{
        border-top: 1px solid #62534D;
        border-bottom: 1px solid #62534D;
        border-left: 1px solid #62534D;
        border-right: 1px solid #62534D;
        padding: 10px 10%;
    }
    footer ul .contact{
        border-left: none;
    }
    
    footer ul .privacy_policy{
        border-top: none;  
    }
   
    
    footer ul a:first-child::after{
        display: none;
    }
    footer ul a .beware, footer ul a .contact, footer ul a .privacy_policy{
        position: relative;
    }
    footer ul a .beware::after, footer ul a .contact::after, footer ul a .privacy_policy::after{
        content: ' ';
        position: absolute;
        top: 42%;
        left: 94%;
        display: block;
        width: 4px;
        height: 4px;
        border: 0px;
        border-top: solid 1px #62534D;
        border-right: solid 1px #62534D;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    footer a:last-child{
        grid-column: 1 / 3; 
    }
    footer ul a .privacy_policy::after{
        content: ' ';
        position: absolute;
        top: 42%;
        left: 97%;
        display: block;
        width: 4px;
        height: 4px;
        border: 0px;
        border-top: solid 1px #62534D;
        border-right: solid 1px #62534D;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }


    footer .copylight p{
        display: flex;
        justify-content: center;
        
    }

   
    /*------白っぽくなるアニメーションー--------*/

    .all_items, .blue_light_save, .monthly, #yukos, .instagram, .twitter, .more_contact, .rakuten, .hoteraba, .youtube, .information_news1, .information_news2, .beware, .contact, .privacy_policy{
        animation: none;
        transition: none;
        transform: none;
    }

    .all_items:hover, .blue_light_save:hover, .monthly:hover, #yukos:hover,
    .instagram:hover, .twitter:hover, .more_contact:hover, .rakuten:hover, .hoteraba:hover, .youtube:hover, .information_news1:hover, .information_news2:hover, .beware:hover, .contact:hover, .privacy_policy:hover{
        animation: none;
        transition: none;
        transform: none;
    }

    .new_item1_img, .new_item2_img, .item01_img, .item02_img, .item03_img, .item04_img, .item05_img, .item06_img, .item07_img, .item08_img, .item09_img, .item10_img, .item11_img{
        animation: none;
        transition: none;
        transform: none;
    }

    .new_item1_img:hover, .new_item2_img:hover,
    .item01_img:hover, .item02_img:hover, .item03_img:hover, .item04_img:hover, .item05_img:hover, .item06_img:hover, .item07_img:hover, .item08_img:hover, .item09_img:hover, .item10_img:hover, .item11_img:hover{
        animation: none;
        transition: none;
        transform: none;
        
    }
    /*------moreアニメーション--------*/

    .more:hover{
        animation: none;
        transition: none;
        transform: none;
    }

}
    
    

