/*iPhone*/
h1, h2, h3, p, dl ,li{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #62534D;
}
h3{
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: normal;
}
p, li, dl{
    font-size: 14px;
    letter-spacing: 0.1em;
}
body{
    margin: 0;
}

/*------共通設定--------*/
.main_width{
    width: 1474px;
}
/*------ヘッダー--------*/
header{
    position: relative;
    background-color:#F8EFEE;
    display: flex;
    width: 100%;
    height: 76px;  
}
header .logo{
    margin: auto 0;
}
.head_items{
    display: flex;
    position: absolute;
    right: 16px;
    position: fixed;
    z-index: 9999;
}
.head_items ul{  
    display: flex;
}
.head_items ul li{
    list-style: none;
    margin: 10px 22px;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.head_items ul a{
    text-decoration: none;
    color: #62534D;
}
.head_items .sns{
    margin: 24px 8px;
}



.onlne_official{
    display: flex;
    border: 1px solid #62534D;
    padding: 12px 24px 12px 22px;
    margin-left: 22px;
    margin-top: 16px;
}
.onlne_official p{
    margin: 0 8px 0 0;
}

.online_sub{
    display: none;
    margin-top: -10px;
}

.online_shop:hover {
    border: 1px solid #62534D;
    text-align: center;
    margin-left: 22px;
    margin-top: 16px;
}
.online_shop:hover .onlne_official{
    border: none;
    margin: 0;
}
.online_shop:hover .online_sub{
    display: block;
    
}


/*------ホーム--------*/
.home{
    background-image: url(../img/top_pc.jpg);
    height: 700px;
    background-size: 114%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    margin: 0;
}
.home img{
    position: absolute;
    left: 100px;
    top: 88px;
}
/*------新商品--------*/
.new{
    width: 100%;
    height: 1830px;
    background-image: url(../img/new_bk.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new_items{
    margin: 80px auto 0px auto;
}
.new_items p{
    font-size: 12px;
    letter-spacing: 0.4em;
    color: #C77C92;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
}
.new_items img{
    margin-bottom: 10px;
}
.new figure{
    margin-bottom: 50px;   
}
/*------ポイント--------*/
.point{
    width: 100%;
    height: 1332px;
    background-color: #EFE3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.point_contents{
    margin: 64px auto;
}
.point_design{
    margin: 12px auto;
}
.point_design img{
    width: 520px;
    height: auto;
}

/*------2つの新商品詳細--------*/
.two_new .gross_brown{
    width: 100%;
    height: 1806px;
    background-image: url(../img/bk_gloss.jpg);
    margin: 0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two_new .tear_olive{
    width: 100%;
    height: 1832px;
    background-image: url(../img/bk_tear.jpg);
    margin: 0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two_new .name img{
    width: 470px;
    height: auto;
    margin-top: 60px;
}

.two_new .top img{
    width: 740px;
    height: auto;
    margin-top: 20px;
}
.two_new .spec img, .mote_point img{
    width: 410px;
    height: auto;
    margin-top: -30px;
}
.two_new .more{
    font-size: 12px;
    border: 1px solid #62534D;
    padding: 20px 170px;
    margin-top: 6px;
}
.two_new a{
    text-decoration: none;
}


/*------カラバリ--------*/

.color_variation{
    width: 100%;
    height: 1600px;
    background-image: url(../img/lu_bk_pc.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.color_variation .title img{
    width: 440px;
    height: auto;
    margin-top: 70px;
}
.color_variation .spec img{
    width: 500px;
    height: auto;
    margin-top: 60px;
}

.color_variation .items .new_item {
    display: grid;
    grid-template-columns: repeat(2, 300px); 
    text-align: center;
    justify-content: center;  
    gap: 10px;
    margin-top: 40px;
}

.color_variation .items .nomal_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    column-gap: 10px;
}

.color_variation .items .new_item img{
    width: 316px;
    height: auto;
}
.color_variation .items .nomal_item img{
    width: 260px;
    height: auto;
    margin-top: 10px;
}
.new_item .more{
    font-size: 12px;
    border: 1px solid #62534D;
    padding: 22px 0;
    margin: 0 16px 0 36px;
}
.nomal_item .more{
    font-size: 12px;
    border: 1px solid #62534D;
    padding: 16px 0;
    margin: 0 26px;
}
.color_variation a{
    text-decoration: none;
}


/*------ここからモテカラー--------*/

.mote_color{
    width: 100%;
    height: 1790px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.mote_color .title{
    margin-top: 114px;
    margin-bottom: 38px;
}
.mote_color .lens_spec{
    margin-top: 120px;
}
.mote_color .title img{
    width: 416px;
    height: auto;
    margin-top: 114px auto;
}
.mote_color .color_chart img{
    width: 620px;
    height: auto;
}
.mote_color .lens_spec img{
    width: 526px;
    height: auto;
}

/*------ここからゆうこすー--------*/

.about_yukos {
    height: 1058px;
    background-image: url(../img/pl_bk.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.yukos_img{
    margin-top: 40px;
}
.yukos_text{
    margin-top: 30px;
    margin-bottom: 20px;
}
.yukos_img img{
    width: 412px;
    height: auto;
}
.yukos_text img{
    width: 324px;
    height: auto;
}
.about_yukos .sns img{
    width: 32px;
    height: auto;
    margin: 8px;
    
}

/*------ここからインフォメーションー--------*/

.information {
    width: 100%;
    height: 256px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.information .title h3{
    margin-top: 70px;
    margin-right: 840px;
    position: relative;
}
.information .title h3::after{
    position: absolute;
    content: "";
    top: 50%;
    width: 810px;
    height: 1px;
    background-color: #62534D;
    margin-left: 20px;
}

.information_news dl{
    display: flex;
}

/*------footerー--------*/
footer{
    width: 100%;
    height: 140px;
    background-color: #F3DEDF;
    padding-top: 4px;
}
footer .attention{
    margin: 0 20px;
}
footer ul{
    display: flex;
    justify-content: end;
    
}
footer ul li{
    list-style: none;
    margin: 0 20px 0 10px;
    position: relative;
}
footer ul a{
    text-decoration: none;
    position: relative;
}
footer ul a::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 18px;
    background-color: #62534D;
    margin-top: -20px;
    left: -6px; 
    top: 100%;
    
}
footer ul a:first-child::after{
    display: none;
}
footer .copylight p{
    display: flex;
    justify-content: end;
    margin-right: 4px;
}

/*------白っぽくなるアニメーションー--------*/

.all_items, .blue_light_save, .monthly, #yukos, .instagram, .twitter, .youtube, .information_news1, .information_news2, .beware, .contact, .privacy_policy{
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.all_items:hover, .blue_light_save:hover, .monthly:hover, #yukos:hover,
.instagram:hover, .twitter:hover, .youtube:hover, .information_news1:hover, .information_news2:hover, .beware:hover, .contact:hover, .privacy_policy:hover{
    transition: 0.3s; 
    opacity: 0.6; 
    transition: 0.6s ease; 
}

.new_item1_img, .new_item2_img, .item01_img, .item02_img, .item03_img, .item04_img, .item05_img, .item06_img, .item07_img, .item08_img, .item09_img, .item10_img, .item11_img{
    transition: 0.3s;
}

.new_item1_img:hover, .new_item2_img:hover,
 .item01_img:hover, .item02_img:hover, .item03_img:hover, .item04_img:hover, .item05_img:hover, .item06_img:hover, .item07_img:hover, .item08_img:hover, .item09_img:hover, .item10_img:hover, .item11_img:hover{
    transition: 0.3s; 
    opacity: 0.8; 
    transition: 0.4s ease; 
}
/*------moreアニメーション--------*/

.more:hover{
    border:none;
    border: 1px solid #fff;
    background-color: #fff;
    transform: scale(1.1);
    transition: 0.6s;
    opacity: 1;
}

